.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.class
*.pyc
*.pyo
*.log
*.log*
.classpath
build
node_modules
bin
public/images
dist
nailshop/platforms/android/assets/www/YAE/frontend
examples
Pods
Podfile.lock
NailShop.xcworkspace
*en_US.html
*zh_CN.html
*-min.html
*.min.css
*.min.js
*mobile.min.css
*index-min.js
*nail-min.css

nailshop/platforms/ios/NailShop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
nailshop/platforms/ios/NailShop.xcodeproj/project.xcworkspace/xcshareddata/NailShop.xccheckout
nailshop/platforms/ios/NailShop.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate